{{#if isNotesShowing}}
<p> notes: {{question.notes}} <button{{action 'notesHide'}}>Hide</button> </p>
{{else}}
<button class="notes"{{action 'notesShow'}}>Notes</button> <br>
{{/if}}

<button class="delete-question" {{action 'delete' question}}>Delete</button>
