{{#if isNotesShowing}}
<p class="notesShow"> notes: {{question.notes}} <button{{action 'notesHide'}}>Hide</button> </p>
{{else}}
<button class="notes"{{action 'notesShow'}}>Notes</button> <br>
{{/if}}

<button class="delete-question" {{action 'delete' question}}>Delete</button>


{{#each model.responses as |response|}}
<li>{{response-tile response=response destroyResponse="destroyResponse"}}</li>
{{/each}}
