<div class="container">
  <div class="appTempQuestionHbs">
    <div class="questionDetails">
      <h4>A closer look at <span class="modelAuthor"> {{model.author}}'s</span> question.</h4>
      <h1>"{{model.submit}}"</h1>
    </div>
    {{question-detail question=model destroyQuestion="destroyQuestion"}}
    {{update-question question=model update="update"}}
  </div>
  <div class="responses">
    <h2>Responses</h2>
    {{#each model.responses as |response|}}
    <li>{{response-tile response=response destroyResponse="destroyResponse"}}</li>
    {{/each}}
    {{new-response save5="save6" question=model}}
  </div>
</div>
